body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url('svgs/background.svg');
}

#container {
  max-width: 90%;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

.svgs-container {
  padding: 2px;
}

.nav-svg,
li,
a {
  transition: transform .3s ease-out;
}

li:hover .nav-svg,
li:hover {
  fill: tomato;
  color: tomato;
  transform: rotate(5deg) scale(1.1);
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
  margin: 1em auto;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

li {
  list-style: none;
  margin: .2em;
  display: inline-block;
}

main {
  padding-top: 20px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

p {
  display: block;
}

#dog-images {
  margin: auto;
  max-width: 680px;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.dogs {
  margin: 1em auto;
  position: relative;
  display: block;
}

.label {
  position: absolute;
  top:100%;
  left: 0;
  right:0;
  margin: auto;
  color: #C08E71;
}

#logo-svg {
  padding: 30px;
}

#main-nav {
  padding-bottom: 12px;
}

#circle,
.dog-paw,
.text {
  transition: transform .5s ease-in-out;
  transform-origin: center center;
}

#logo-svg:hover #circle,
#logo-svg:hover .dog-paw,
#logo-svg:hover .text {
  transform: scale(1.3);
}

.text {
  display: none;
}

#logo-text {
  color: #E8AA85;
}

#svg-holder {
  display: none;
}

#dog1 {
  color: #B87F5E;
}

#dog2 {
  color: #E8AA85;
}

#dog3 {
  color: #824B2D;
}

#dog4 {
  color: #52595E;
}

@media (min-width: 425px) {
  .text {
    display: inline;
  }

  #logo-text {
    display: none;
  }
}

@media (min-width: 687px) {
  #container {
    max-width: 70%;
  }
}